{
    "presets":["@babel/preset-env"],
    "plugins":[["component", 
        {
          "libraryName": "mint-ui",
          "style": true
        }
      ],"@babel/plugin-transform-runtime", "@babel/plugin-proposal-class-properties", "transform-remove-strict-mode" ],
      "ignore":["./src/lib/mui/js/mui.min.js"],
}       